In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('petrol_consumption.csv')
data.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [3]:
data.shape

(48, 5)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Petrol_tax                    48 non-null     float64
 1   Average_income                48 non-null     int64
 2   Paved_Highways                48 non-null     int64
 3   Population_Driver_licence(%)  48 non-null     float64
 4   Petrol_Consumption            48 non-null     int64
dtypes: float64(2), int64(3)
memory usage: 2.0 KB

In [5]:
data.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [6]:
data.duplicated().sum()

0

In [7]:
X=data.iloc[:,:-1].values
Y=data.iloc[:,1].values

In [8]:
X.shape

(48, 4)

In [9]:
Y.shape

(48,)

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [11]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [12]:
y_pre=regressor.predict(x_test)
y_pre

array([3601., 4399., 3448., 3640., 3063., 3897., 3528., 4449., 5126.,
       4391.])

In [14]:
from sklearn import metrics
MSE=metrics.mean_squared_error(y_test,y_pre)
MSE

7.651420666115506e-25

In [15]:
df=pd.DataFrame({'Actual':y_test,'Prediction':y_pre})
df

   Actual  Prediction
0    3601      3601.0
1    4399      4399.0
2    3448      3448.0
3    3640      3640.0
4    3063      3063.0
5    3897      3897.0
6    3528      3528.0
7    4449      4449.0
8    5126      5126.0
9    4391      4391.0

In [16]:
regressor.score(X,Y)

1.0